* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fundo com o vórtice */
.vortex {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120vw;
  height: 120vw;
  background-image: url("assets/imagens/cosmic-vortice.png");
  background-size: cover;
  background-position: center;
  transform: translate(-50%, -50%);
  animation: giroHorario 30s linear infinite;
  z-index: -1;
}

/* Conteúdo por cima */
.conteudo {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* ANIMAÇÃO HORÁRIA */
@keyframes giroHorario {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
